.form{
    height: 50%;
    width:50%;
    margin-left: 23%;
    border: 1px solid;
    padding: 2%;
    margin-top:10%;
    box-shadow: rgba(206, 52, 52, 0.35) 0px 5px 15px;
    margin-top: 3rem;
    background: white;
}
#a{
    text-decoration: none;
}

.anchor:hover{
    cursor: pointer;
    background: white;
    color: blue;
}
.signup_div{
height: 93vh !important;
margin-top: 1.5% !important;
padding-top: 1%  !important;
}